# Temporary files
*~
*.swp
Backtrace.0
*.tar.gz
*_save
*_bu
out_*
OUT_*
*_ERC
*_ndod
*_ARV*
THERMO_APPEND.txt
*_test_sparse
LiDryer.c_*
*toto*
1D_y_7530*
1D_y_5105*
*.png
*NORM.*
fort.*
*plot_*
test.py
extract_*py
convrate_*

# AMReX build directories
d/
o/
f/
extern.f90
AMReX_buildInfo.cpp
tmp_build_dir/
TEST*/
SERIAL/
LOB2*/
LOB3*/

# Executable
*.ex
*.exe
*.agr
*.par


# Run output
*.p3d
plt*
*plt*old*
Backtrace*
chk*
slice*
out*
fort.txt
fort.12

# OSX files
.DS_Store

# Fuego pyc files
*.pyc
extract.py
script.py
script_gpu.py
script_therm.py
extract_plot.py

# Folders
ReactEvalCVODE/
ToyPb_cvodeVSdvode/
ReactEvalSUNDIALS3/
serial_*/
serialGPU_E_asPele/
GPU_*/
serialGPU_E_asPeleC/
TEST/
serial/
